@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Rubik&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1, h2, h3, h4, p, input, button, label {
    font-family: 'Rubik', sans-serif;
}
h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    color: #CD3943;
    text-align: center;
    margin: 18px;
}
p {
    line-height: 30px;
}
.logo {
    padding: 100px 0px 40px 0px;
}
.login-form {
    margin-top: 30%;
}
.signup-form {
    margin-top: 25px;
}
.center {
    text-align: center;
}
.app-name {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 50px;
    color: #7f7d76;
}
.small-margintop {
    margin-top: 20px;
}
.generic-button {
    margin-top: 10px;
	height: 40px;
	width: 250px;
	border-radius: 10px;
	background-size: 42px 42px;
	background-color: rgba(231, 73, 52, 0.53);
	border: none;
    font-size: 18px;
    color: white;
}   
.shareparking-button {
    background-color: #61b0f1;
    margin: 5px 5px 5px 10px;
	height: 40px;
	width: 50%;
	border-radius: 10px;
	background-size: 42px 42px;
	border: none;
    font-size: 17px;
    color: white;
}
.front-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
    border: 2px solid rgba(128, 128, 128, 0.488);
    border-radius: 20px;
    margin: 10px 5px 10px 5px;
}
.text-box {
    text-align: center;
    padding: 0px 8px 0px 8px;
}
.parking-image{
    width: 200px; 
    padding: 5px 7px 3px 5px;
    border-radius: 20px;
}
.image-details {
    width: 300px;
    margin: 30px 30px 0px 30px;
    border-radius: 10px;
}
input {
    font-size:16px;
    padding:8px 8px 8px 5px;
    display:block;
    width:300px;
    border:none;
    border-bottom:1px solid #757575;
    margin-bottom: 5px;
}
input[type=submit] {
    margin-top: 10px;
    background-color:#EE948A;
    border-radius: 20px;
    color: white;
}
input[type=file] {
    margin-top: 10px;
    font-size:16px;
    color:#999; 
}
input:focus { 
    outline:none; 
}
label {
    color:#999; 
    font-size:16px;
    font-weight:normal;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
}
textarea {
    margin: 20px 0px 10px 0px;
    border: 2px solid rgba(128, 128, 128, 0.488);
    border-radius: 10px;
    font-size: 15px;
}
textarea:focus { 
    outline:none; 
}
.message-box {
    margin-top: 100px;
}
.navbar {
    height: 10vh;
    width:100%;
    background-color: rgba(200, 203, 210, 0.529);
    display:flex;
    justify-content: space-around;
    align-items: center;
    position:fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
.logo-nav {
    height: 30px;
    width: 35px;
}
.car-nav {
    height: 45px;
    width: 40px;
}
.sad-image {
    width: 150px;
}
.sad-text {
    margin-top: 150px;
}
.logout-button {
    margin-top: 10px;
	height: 35px;
	width: 150px;
	border-radius: 10px;
	background-size: 42px 42px;
	background-color: rgba(128, 120, 119, 0.53);
	border: none;
    font-size: 16px;
    color: white;
}
.profile-photo {
    margin: 20px 0px 20px 0px;
    width: 150px;
    height: 150px;
    border-radius: 80px;
}
.image-map {
    width: 80px;
}
.buttons-div {
    height: 10vh;
    width:100%;
    background-color: rgba(200, 203, 210, 0.529);
    display:flex;
    justify-content: space-around;
    align-items: center;
    position:relative;
    top: 0;
    left: 0;
    right: 0;
}
.buttons-map {
    margin:5px 10px 5px 5px;
	height: 40px;
	width: 50%;
	border-radius: 10px;
	background-size: 42px 42px;
	background-color: rgba(231, 73, 52, 0.53);
	border: none;
    font-size: 17px;
    color: white;
}